<script>$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        events: '/events.json'
    })

});
</script>

<%= link_to 'New Event', new_event_path %>

<div id= 'calendar'>

</div>